{
  "version": 3,
  "configurePresets": [
      {
      "name": "x86-debug",
      "inherits": "x86-debug-base",
      "cacheVariables": {
        "HEATSIG_DIR": "<PATH TO HEAT SIGNATURE>"
      }
    },
    {
      "name": "x86-release",
      "inherits": "x86-release-base",
      "cacheVariables": {
        "HEATSIG_DIR": "<PATH TO HEAT SIGNATURE>"
      }
    },
    {
      "name": "linux-cross",
      "inherits": "linux-cross-base",
      "environment": {
        "VCPKG_ROOT": "<PATH TO VCPKG CHECKOUT>",
        "XWIN_SDK_DIR": "<PATH TO XWIN SPLAT DIRECTORY>",
        "PATH": "<PATH TO DIRECTORY CONTAINING ninja>:$penv{PATH}"
      },
      "cacheVariables": {
        "HEATSIG_DIR": "<PATH TO HEAT SIGNATURE>"
      }
    }
  ],
  "buildPresets": [
	{
      "name": "local-debug",
      "configurePreset": "x86-debug",
      "configuration": "Debug"
    },
	{
      "name": "local-release",
      "configurePreset": "x86-release",
      "configuration": "Release"
    },
	{
      "name": "linux-debug",
      "configurePreset": "linux-cross",
      "configuration": "Debug"
    },
	{
      "name": "linux-release",
      "configurePreset": "linux-cross",
      "configuration": "Release"
    }
  ]
}